@charset "ISO-8859-1";
button{
background: none;
color: black;
width: 100px;
height: 25px;
border: 1px solid #284b6e;
font-size: 18px;
border-radius: 4px;
transition: .6s;
overflow: hidden;
}

button:focus{
outline:none;
}

button:before{
content: '';
display: block;
position: absolute;
background: rgba(255,255,255,.5);
width: 60px;
height: 100%;
left: 0;
top: 0;
opacity: .5s;
filter: blur();
transform: translateX(-130px) skewX(-15deg);
}

button: after{
content: '';
display: block;
position: absolute;
background: rgba(255,255,255,.5);
width: 30px;
height: 100%;
lefth: 30px;
top: 0;
opacity: 0;
filter: blur(30px);
transform: translate(-100px) scaleX(-15deg)
}

button:hover{
background: #284b6e;
cursor: pointer;
}

button:hover:before{
transform: translateX(300px) skeX(-15deg);
opacity: .6s;
transition: .7s;
}

button:hover:after{
transform: translateX(300px) skeX(-15deg);
opacity: 1;
transition: .7s;
}